#container{
  height: 500px;
  width:400px;
  border:1px solid black;
  position:absolute;
  left:50%;
  margin-left : -200px;
}

body{
  display: block;
  font-family:arial;
}

.button{
  display:grid;
  height:450px;
}
button{
  font-size:20px;
}
#numbers{
  display:grid;
  grid-template-columns: 100px 100px 100px 100px;
}
.number{
  background-color:black;
  color:white;
}
.number:active{
background-color:white;
color:black;
}

.operator, #enter, #clear{
  background-color: orange;
  color: black;
}

.operator:active, #enter:active, #clear:active{
  background-color:black;
  color:orange;
}



#display{
  font-size:45px;
  height: 50px;
  width: 400px;
  border-bottom:1px solid black;
  text-align: right;
}
h1{
  text-align:center;
}
#enter{
  grid-column-start:1;
  grid-column-end:5;
}